<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>书籍</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/imgs/img01.png">
</head>


<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">图书管理系统</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right" action="/search/" method="POST">
                    <input type="text" name="search_for" class="form-control" placeholder="搜索书籍">
                    <button  type="submit" class="btn btn-primary">搜索</button>
                </form>
            </div>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <div>
                    <ul class="nav nav-sidebar">
                        <li ><a href="/publisher_list">出版社</a></li>
                        <li><a href="/author_list/">作者</a></li>
                        <li><a href="/book_list/">书籍</a></li>
                    </ul>
                </div>
                </div>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h2 class="sub-header">搜索结果</h2>
                <div class="table-responsive"> 
                    <table class="table table-borderrd table-hover">
                        <thead>
                            <tr bgcolor="DeepSkyBlue">
                                <th>序号</th>
                                <th>藏书编号</th>
                                <th>书名</th>
                                <th>出版社名称</th>
                                <th>作者</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for book in bf%}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{book.id}}</td>
                                <td><a href="/book_det/?pk={{book.pk}}">{{book.name}}</a></td>
                                <td>{{book.publisher.name}}</td>
                                <td>
                                    {% for author in book.author.all %}
                                        {% if forloop.counter == 1 %}
                                            {{author.name}}
                                        {% else %}
                                            &{{author.name}}
                                        {% endif %}
                                    {%endfor%}
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- <body>
    {% for book in bf%}
    <table border="1">
        <thead>
            <tr>
                <th>书名</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{book.name}}</td>
            </tr>
        </tbody>
    </table>
    {% endfor%}
     
    
</body> -->
</html>